.nav-bar-block
    .bar-purple.bar.bar-header(align-title='center')
        .buttons.buttons-left.header-item
            span.left-buttons
                button.button.button-burger
                    .bars-icon
                        i.fa.fa-angle-left
        .title.title-center.header-item Percakapan
ion-content.scroll-content.ionic-scroll.overflow-scroll.has-header.has-tabs
    .user-details.disable-scroll
        .avatar
            img(src='../nutalent/img/avatar__default.png')
        .name User's Name
    .scroll
        .chat-container
            .chat-date Jan 5, 4:59 PM
            ul.chat-content
                li.chat-left.chat-box
                    | Lorem ipsum dolor sitamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li.chat-right.chat-box Lorem ipsum dolor sitamet,
                li.chat-right.chat-box
                    | Lorem ipsum dolor sitamet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .chat-container
            .chat-date Jan 6, 14:59 PM
            ul.chat-content
                li.chat-right.chat-box Lorem ipsum dolor sitamet,
                li.chat-left.chat-box
                    | Lorem ipsum dolor sitamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li.chat-right.chat-box
                    | Lorem ipsum dolor sitamet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
.tab-nav.tabs
    .row.chat-footer-box
        .icon-button.col-10.col-center
            i.icon.ion-md-happy
        .col-80.col-center.comment-box
            input.input-text(name='keyword', type='text', placeholder='Tulis Komentar...')
        .icon-button.col-10.col-center
            i.icon.ion-md-send
