.nav-bar-block
    .bar-purple.bar.bar-header(align-title='center')
        .buttons.buttons-left.header-item
            span.left-buttons
                button.button.button-burger
                    .bars-icon
                        i.fa.fa-angle-left
        .title.title-center.header-item
            | Pesan
.scroll-content.ionic-scroll.overflow-scroll.has-header
    div
        form.search-form-dark
            i.fa.fa-search
            input.input-text(name='keyword', type='text', style='', placeholder='Search...')
    ul.list
        li.item
            .row.chat-item
                .avatar.col.col-25.col-center
                    img(src='../nutalent/img/avatar__default.png')
                .content.col.col-65.col-center
                    .name Name
                    .last-chat last cahat last cahat last cahat ..
                .counter.col.col-10.col-center
                    .content
                        .col.col-center 25
        li.item
            .row.chat-item
                .avatar.col.col-25.col-center
                    img(src='../nutalent/img/avatar__default.png')
                .content.col.col-65.col-center
                    .name Name
                    .last-chat last cahat last cahat last cahat ..
                .counter.col.col-10.col-center
                    .content
                        .col.col-center 25
        li.item
            .row.chat-item
                .avatar.col.col-25.col-center
                    img(src='../nutalent/img/avatar__default.png')
                .content.col.col-65.col-center
                    .name Name
                    .last-chat last cahat last cahat last cahat ..
                .counter.col.col-10.col-center
